<div class="container-fluid container mainContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-family: 'Lato'; width: 100%; background-color: #EDEDED">
    <div class="row" style="height: 70px">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><button class="homeButton" (click)="redirect()"><img src="../../assets/images/dashboard-logo.png"></button></div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="height: 100%; font-size: 25px; text-align: center; line-height: 70px; color: #9B9B9B">{{pageTitle}}</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height: 100%; font-size: 25px; text-align: right; line-height: 70px; color: #9B9B9B">{{id}}</div>
</div>