<div class="{{jsonData.bootstrapGrid.panels.spend.title}}" [style.font-size]=jsonData.elements.spend.title.textSize [style.color]=jsonData.elements.spend.title.textColor [style.width]=jsonData.elements.spend.title.width>
  <!--{{jsonData.elements.spend.title.content}}-->
  {{spendTitle}}
</div>
<div class="{{jsonData.bootstrapGrid.panels.spend.missedOpportunities}}" style="width: 45%">
  <div class="row" [style.font-size]=jsonData.elements.spend.missedOpportunities.title.textSize [style.color]=jsonData.elements.spend.missedOpportunities.title.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>
    {{jsonData.elements.spend.missedOpportunities.title.content}}
  </div>
  <div class="row" [style.font-size]=jsonData.elements.spend.missedOpportunities.value.textSize [style.color]=jsonData.elements.spend.missedOpportunities.value.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>
    {{jsonData.elements.spend.missedOpportunities.value.content}}
  </div>
</div>

<div class="row">
  <h1>
    {{title}}
    <chart [options]="options"></chart>
  </h1>
</div>
<div class="row">
  <div class="{{jsonData.bootstrapGrid.panels.spend.year1}}" style="width: 45%">
    <div class="row" [style.font-size]=jsonData.elements.spend.year1.title.textSize [style.color]=jsonData.elements.spend.year1.title.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>
      <!--{{jsonData.elements.spend.year1.title.content}}-->
      {{year1}}
    </div>
    <div class="row" [style.font-size]=jsonData.elements.spend.year1.value.textSize [style.color]=jsonData.elements.spend.year1.value.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>
      {{jsonData.elements.spend.year1.value.content}}
    </div>
  </div>
  <div class="{{jsonData.bootstrapGrid.panels.spend.year2}}" style="width: 45%">
    <div class="row" [style.font-size]=jsonData.elements.spend.year2.title.textSize [style.color]=jsonData.elements.spend.year2.title.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>
      <!--{{jsonData.elements.spend.year2.title.content}}-->
      {{year2}}
    </div>
    <div class="row" [style.font-size]=jsonData.elements.spend.year2.value.textSize [style.color]=jsonData.elements.spend.year2.value.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>
      {{jsonData.elements.spend.year2.value.content}}
    </div>
  </div>
</div>