<div class="{{jsonData.bootstrapGrid.panels.spending_savings}}">
  <div class="row">
    <div class="row" [style.font-size]=jsonData.elements.spending.title.textSize [style.color]=jsonData.elements.spending.title.textColor>{{jsonData.elements.spending.title.content}}</div>
    <div class="row" [style.font-size]=jsonData.elements.spending.value.textSize [style.color]=jsonData.elements.spending.value.textColor [style.font-weight]=jsonData.elements.globalStyles.weight>{{jsonData.elements.spending.value.content}}</div>
    <div class="row" [style.font-size]=jsonData.elements.spending.details.textSize [style.color]=jsonData.elements.spending.details.textColor>{{jsonData.elements.spending.details.content}}</div>
  </div>
  <br>
  <br>
</div>
